/* I hate CSS & SCSS */

.countries-container {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

/* custom collapse style */
.collapse-header {
  background: #d6e5ef;
  /* cursor: pointer !important; */
  &:hover {
    background: #96c1de;
  }
  .title {
    float: left;
    width: auto;
    padding: 8px 0px 0px 20px;
  }
  .actions {
    float: right;
  }
}
